body{
    background-color: rgb(12, 12, 14);
}
div{
    text-align: center;
}
p{
    color: rgb(223, 213, 213);
}
H1{
    text-align: center;
    color: rgb(223, 213, 213);
}
H2{
    color: rgb(223, 213, 213);
}
